<!DOCTYPE html>
<html>
<head>
  <title>Etsy</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body
  <div class="header">
    <ul>
      <li class="logo">Etsy</li>
      <li>Search</li>
      <li>Sell on Etsy</li>
      <li>Register</li>
      <li>Sign in</li>
      <li>Cart</li>
    </ul>
  </div>
  <div class="topMenu">
    <ul>
      <li>Clothing & Accessories </li>
      <li>Jewelry</li>
      <li>Craft Supplies & Tools</li>
      <li>Weddings</li>
      <li>Entertainment</li>
      <li>Home & Living</li>
      <li>Kids & Baby</li>
      <li>Vintage</li>
    </ul>
  </div>
  <div class="mainBody">
    <div class="categories">
      <p>All categories</p>
      <ul>
        <li>Home & Living</li>
        <li>Art & Collectibles</li>
        <li>Weddings</li>
        <li>Clothing</li>
        <li>Jewelry</li>
        <li>Paper & Party Supplies</li>
        <li>Accessories</li>
        <li>Craft Supplies & Tools</li>
        <li>Bags & Purses</li>
        <li>Bath & Beauty</li>
        <li>Shoes</li>
        <li>Books, Movies & Music</li>
        <li>Electronics & Accessories</li>
        <li>Toys & Games</li>
        <li>Pet Supplies</li>
      </ul>
  </div>

  <div class="resultsContainer">

  </div>

 
  <script type="text/template" id="itemTemplate">
    <div class = "searchResults">
      <p>
        <%= title %>
      </p>

      <p>
        <%= Shop.shop_name %>
      </p>

      <p class="price">
        $<%= price %>
      </p>
    </div>
  </script>

  <script type="text/template" id="imageTemplate">
      <div class="productImages"><img src="<%= Images[0].url_570xN %>"></div>
  </script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>